body {
  font-family: 'century gothic';
  margin: 0;
  padding: 0;
}

header{
  background-image:linear-gradient(rgba (0,0,0,0.5) url(https://umcppaphi.files.wordpress.com/2018/12/paphi-background-e1555575651999.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header ul{
  list-style-type: none;
  float: right;
  margin-top: 25px;
}

header ul li {
  display: inline-block;
}

header ul li h1 {
  font-size: 75px;
  float: none;
  color: #fff;
  text-shadow: 5px 5px 3px #8C001A;
  font-weight: bold;
  padding-right: 20px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
  font-size: 25px;
}

header ul li a:hover {
background-color: #fff;
  color: #8C001A;
}



footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.logo img {
  float: left;
  width: 100px;
  height: auto;
}

