body {
  font-family: 'century gothic'
}


header{
  background-image: url('https://i1.wp.com/umcppaphi.files.wordpress.com/2018/12/paphi-background-e1555575651999.jpg?ssl=1');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

ul{
  list-style-type: none;
  float: right;
  margin-top: 25px; 
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
  font-size: 25px;
}

ul li a:hover {
background-color: #fff;
  color: #000;
}

.container {
  width: 80%;
  margin: 0 auto;
  
    
}

.logo img {
  float: left;
  width: 80px;
  height: auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate (-50%, -50%);
}

.title h1 {
  color: #ffffff;
  font-size:100px;
}
